$hover-highlight-color: lightgray;
$sort-direction-color: royalblue;

%button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}


// When fixed layout mode is enabled
.rvt.fixed-column-width {
  .rvt-virtual-table-container {
    width: fit-content;
  }

  .rvt-table-container,
  .rvt-virtual-table-container-inner {
    width: max-content;

    > table {
      table-layout: fixed;
      width: auto;
      max-width: none;

      > thead > tr > th .header-text {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      > thead,
      > tbody {
        > tr > td {
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


.rvt {
  width: 100%;
  overflow: hidden;

  &.rvt-virtual-table {
    height: 100%;
  }

  > .rvt-table-container {
    position: relative;
    min-width: fit-content;
  }

  > .rvt-virtual-table-container {
    height: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: visible;
    overflow-y: visible;

    > .rvt-virtual-table-container-scroll {
      overflow-x: auto;
      overflow-y: visible;
      height: 100%;

      > .rvt-virtual-table-container-inner {
        height: 100%;
        min-width: min-content;
        overflow: hidden;
      }
    }
  }

  thead {
    &.dragging {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    &:not(.dragging) .grid-header-cell {
      &:not(.sortable):not(.filterable) {
        .header {
          cursor: grab;
          cursor: -webkit-grab;
        }
      }

      &.sortable,
      &.filterable {
        .header {
          cursor: pointer;
        }
      }
    }

    &.hidden-header th.grid-header {
      font-size: 0;
      border: none;
      overflow: hidden;
      opacity: 0;

      * {
        min-height: 0;
        max-height: 0;
        display: none;
      }
    }

    th {
      position: relative;

      &.field-moving-hover {
        background-color: $hover-highlight-color;
      }

      .grid-header-cell {
        width: 100%;
        display: flex;
        flex-direction: row;

        .header {
          align-self: flex-end;
          flex: 1 1;
          padding: 4px;
          overflow-x: hidden;

          .title {
            display: inline;

            form {
              display: inline-block;

              input {
                width: 100%;
                max-height: 1.5rem;
              }
            }
          }
        }

        .sort-filter,
        .column-chooser {
          align-self: center;
          flex: 0 0;
        }

        .resize-handle {
          cursor: col-resize;
          flex: 0 0 10px;
          z-index: 50;
          width: 10px;
          margin-right: -5px;
        }
      }
    }

    tr th:last-child:not(:first-child) .filter-pane {
      right: 0;
    }
  }

  tbody.rvt-scroller {
    > tr td:last-child {
      padding-right: 1.25rem;
    }
  }
}
