$white: #fff;
$gray: #868e96;
$filter-pane-bg-color: transparentize($white, .2);
$filter-pane-border: 1px solid lightgray;

.rvt thead th {
  button.filter-btn {
    @extend %button;
    white-space: nowrap;
  }

  // Icon is grayed out when no active filters
  .filterable .edit-filters { opacity: .4; }

  // Icon is dark when active filters
  .filtered .edit-filters { opacity: 1; }

  .filter-pane {
    position: absolute;

    padding: 1rem;

    .btn-group,
    input {
      width: 100%;
    }

    button {
      cursor: pointer;
    }

    .sort-controls {
      display: flex;
      flex-direction: row;

      button {
        flex: 1 0;
      }
    }

    .form-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
