$white: #fff;
$filter-pane-bg-color: transparentize($white, .2);
$filter-pane-border: 1px solid lightgray;

.rvt thead th {
  button.filter-btn {
    @extend %button;
    white-space: nowrap;
  }

  // Icon is grayed out when no active filters
  .filterable .edit-filters { opacity: .4; }

  // Icon is dark when active filters
  .filtered .edit-filters { opacity: 1; }

  .filter-pane {
    position: absolute;

    padding: 1rem;
    border-radius: 1rem;
    border: $filter-pane-border;
    background-color: $filter-pane-bg-color;

    input {
      width: 100%;
    }

    .form-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
