thead {
  th {
    button.filter-btn {
      white-space: nowrap;
      @extend %button;
    }

    .edit-filters::after { content: '☔'; }

    // Icon is grayed out when no active filters
    .filterable .edit-filters { opacity: .4; }

    // Icon is dark when active filters
    .filtered .edit-filters { opacity: 1; }
  }
}
