$hover-highlight-color: lightgray;

thead {

  tr {

    &.column-moving {
      cursor: move;
    }

    th {

      &.column-moving-hover {
        background-color: $hover-highlight-color;
      }

      div.grid-header-cell {
        display: flex;

        div.header {
          padding: 4px;
          flex: 1 100%;
          flex-grow: 1;
          align-self: flex-end;
        }
        
        div.sort-filter {
          flex: 1 auto;
        }
        
        div.resize-handle {
          flex: 1 auto;
          width: 10px;
          cursor: col-resize;
        }

        div.filter-pane {
          position: absolute;
        }

        .sort-icon {
          opacity: 0;
        }

        &.sortable {
        }

        &.sortable:hover {
          .sort-icon {
            opacity: .4;
          }
        }

        &.sorted {
          .sort-icon {
            opacity: 1;
          }
        }

      }
    }
  }
}



