$hover-highlight-color: lightgray;
$sort-direction-color: royalblue;

%button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}


thead {
  tr {
    &.column-moving {
      cursor: move;
    }

    th {
      &.column-moving-hover {
        background-color: $hover-highlight-color;
      }

      .grid-header-cell {
        display: flex;

        .header {
          align-self: flex-end;
          flex: 1 100%;
          flex-grow: 1;
          padding: 4px;
        }

        .sort-filter {
          align-self: center;
          flex: 1 auto;
        }

        .resize-handle {
          cursor: col-resize;
          flex: 1 auto;
          width: 10px;
        }

        .filter-pane {
          position: absolute;
        }

        &:hover {
          button.sort:not(.sort-active) {
            &.sort-asc {
              display: inline;
              opacity: .4;
            }
          }
        }

        button.sort {
          @extend %button;
          opacity: 0;

          &.sort-active {
            display: inline;
            opacity: 1;
          }

          &.hover {
            &:not(.sort-active) {
              display: inline;
              opacity: .4;
            }
          }

          &.sort-asc {
            display: inline;
            &::after { content: '▲'; }
          }

          &.sort-desc {
            display: none;
            &::after { content: '▼'; }
          }
        }
      }
    }
  }
}
