@import 'base';
@import 'filters';
@import 'sort_icons';

.rvt thead th {
  .edit-filters::after {
    content: '☔';
  }

  .sort-asc::after {
    content: '↑';
  }

  .sort-desc::after {
    content: '↓';
  }

  .filter-pane .checked::after {
    content: '✓';
  }
}

