@import 'base';
@import 'filters';
@import 'sort_icons';

thead th {
  .edit-filters::after {
    content: '☔';
  }

  .sort-asc::after {
    content: '▲';
  }

  .sort-desc::after {
    content: '▼';
  }

  .sort-asc-narrow::after {
    content: '↑';
  }

  .sort-desc-narrow::after {
    content: '↓';
  }

  .filter-pane .checked::after {
    content: '✓';
  }
}

