@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

.table {
  margin-bottom: 0;
}

.no-padding-td td {
  padding: 0 !important;
  font-size: .5rem;
  input {
    display: none;
  }
}

#rvt-demo {
  display: flex;
  flex-direction: column;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: hidden;

  nav {
    flex: 0 0;
    margin-bottom: 0;
  }

  main {
    flex: 1 1;
    position: relative;
    overflow-y: auto;
  }
}
